
{% extends 'base.html' %}

{% load static %}



{% block content %}
    <div class="w-full flex flex-col items-center justify-center">
        <div class="w-full max-w-4xl mx-auto my-8">
            <img 
                src="{% static 'img/logo.png' %}" 
                alt="Samantha The Clair Logo"
                class="w-full h-auto" 
            />
        </div>
        
        <p style="font-family: 'Dancing Script', cursive; font-size: 24px; font-weight: bold; text-align: center;">
            Clarity in Clair
          </p>
          
        <!-- {% include 'snippets/welcome-user-msg.html' %} -->
        
        <p>Visits to Sam 2025 = {{ page_visit_count }}</p>
       
      
    </div>
{% endblock content %}